body {
    background-color: #251b3d;
}

p {
    color: #fbfcfb;
}

a {
    color: #fbfcfb;
}

.bg-color {
    background-color: #251b3d !important;
}

.new-primary {
    color: #fbfcfb;
}

.form-control:focus {
    border-color: #fb9090;
    box-shadow: inset 0 0.5px 0.5px #fb9090, 0 0 4px #fb9090;
}

.myQ {
    max-height: 10vh;
    overflow-y: auto;
}

.x:hover {
    fill: #fbb662;
}