{% block styles %}
  <link rel="stylesheet" href="{{url_for('static', filename='bulma-0.9.0/css/bulma.css')}}">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
{% endblock %}

<title>
  {% if title %}
    {{ title }} — vQueue
  {% else %}
    Welcome to vQueue!
  {% endif %}
</title>

{% block navbar %}
  <nav class="navbar is-size-4" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('index') }}">vQueue</a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if not session['uName'] %}
              <a class="button is-primary" href="{{ url_for('register') }}">
                <strong>Register</strong>
              </a>
              <a class="button is-light" href="{{ url_for('login') }}">
                Sign In
              </a>
            {% else %}
              <a class="button is-light" href="{{ url_for('index') }}">
                <strong>Dashboard</strong>
              </a>
              <a class="button is-light" href="{{ url_for('queue') }}">
                <strong>Queue</strong>
              </a>
              <a class="button is-light" href="{{ url_for('logout') }}">
                <strong>Logout</strong>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>   
  </nav>
  <div class="mb-4">
    <!-- Spacing -->
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="notification is-primary" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block appContent %}{% endblock %}
    {% block script %}{% endblock %}
  </div>
{% endblock %}