{% block styles %}
    
{% endblock %}

{% block title %}
  {% if title %}
    {{ title }} — vQueue
  {% else %}
    Welcome to vQueue!
  {% endif %}
{% endblock %}

{% block navbar %}
  <nav class="">
    <div>
      <a class="" href="{{ url_for('index') }}">vQueue</a>
      <button class="" type="button">
        <span class=""></span>
      </button>
    </div>

    <div class="" id="">
      <ul class="">
        {% if not session['uName'] %}
        <li class="">
          <a class="" href="{{ url_for('login') }}">Login</a>
        </li>
        {% else %}
        <li class="">
          <a class="" href="{{ url_for('index') }}">Dashboard</a>
        </li>
        <li class="">
          <a class="" href="{{ url_for('queue') }}">Queue</a>
        </li>
        <li class="">
          <a class="" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>   
  </nav>

  <div class=""></div>
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block appContent %}{% endblock %}
    {% block script %}{% endblock %}
  </div>
{% endblock %}