<html>
    <head>
      {% if title %}
      <title>{{ title }} — newApp</title>
      {% else %}
      <title>Welcome to NewApp!</title>
      {% endif %}
    </head>
    <body>
        <div>
          newApp
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('login') }}">Login</a>
          <a href="{{ url_for('register') }}">Register</a>
          <a href="{{ url_for('create') }}">Create</a>
        </div>
        
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>