{% extends "base.html" %}

{% block content %}
    <h1>Create</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.rMax.label }}<br>
            {{ form.rMax }}
            {% for error in form.rMax.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.rCustomers.label }}<br>
            {{ form.rCustomers }}
            {% for error in form.rCustomers.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.createRoom() }}</p>
    </form>
{% endblock %}