{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block appContent %}
    <h1>Hi, {{ bName }}!</h1>
    <div class="row mb-3"></div>

    <div class="row">
        <div class="col-md-4">
            <h3>Start a New Session</h1>
            {{ wtf.quick_form(form) }}
            {% for field, errors in form.errors.items() %}
            <div class="alert alert-danger">
                <strong>Error</strong>: {{ ', '.join(errors) }}
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" href="{{ url_for('queue') }}">
                Go To Queue
            </button>
        </div>
    </div>
{% endblock %}