{% extends "base.html" %}

{% block appContent %}
  <h1>Hi, {{ bName }}!</h1>

  <div class="columns">
    <div class="column">
      <h3>Start a New Session</h1>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.rMax.label }}<br>
          {{ form.rMax(size=32) }}

          {% for error in form.rCustomers.errors %}
            <div class="notification is-danger">
              [{{ error }}]
            </div>
          {% endfor %}
        </p>
        <p>
          {{ form.rCustomers.label }}<br>
          {{ form.rCustomers(size=32) }}

          {% for error in form.rCustomers.errors %}
            <div class="notification is-danger">
              [{{ error }}]
            </div>
          {% endfor %}
        </p>
        <p>{{ form.submitNow() }}</p>
      </form>

    </div>
    <div class="column">
      <h3>Delete Your Account</h1>
      <p>
        Deleting your account will cancel your subscription and you will lose access to vQueue.
        You will also lose your phone number and others will be able to claim it. Proceed with caution.
      </p>
    </div>
  </div>
{% endblock %}