{% extends "base.html" %}

{% block appContent %}
  <div class="columns">
    <div class="column is-one-third">
      <h1 class="title is-1">Sign In</h1>
      <form class="is-size-4" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="field">
          <label class="label is-size-5">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            {{ form.uName.label }}
          </label>
          {{ form.uName(size=32) }}

          {% for error in form.uName.errors %}
          <div class="container mt-3 mb-3 is-size-4">
            <div class="notification is-danger">
              [{{ error }}]
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="field">
          <label class="label is-size-5">
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
            {{ form.uPassword.label }}
          </label>
          {{ form.uPassword(size=32) }}

          {% for error in form.uPassword.errors %}
            <div class="container mt-3 mb-3 is-size-4">
              <div class="notification is-danger">
                [{{ error }}]
              </div>
            </div>
          {% endfor %}
        </div>

        <p>{{ form.submitNow() }}</p>
      </form>
            
      <div class="container">
        <p class="is-size-5">New User? <a class="is-italic" href="{{ url_for('register') }}">Register Here</a></p>
        <p class="is-size-5">Forgot Your Password? <a class="is-italic" href="{{ url_for('reset') }}">Click to Reset</a></p>
      </div>
    </div>
  </div>
{% endblock %}