{% extends "base.html" %}

{% block appContent %}
  <div class="columns">
    <div class="column">
      <h1 class="title is-1">Sign In</h1>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        {{ form.uName.label }}
        <div class="control has-icons-left has-icons-right">
          {{ form.uName(size=32) }}
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>

          {% for error in form.uName.errors %}
            <div class="notification is-danger">
              [{{ error }}]
            </div>
          {% endfor %}

        <p>
          {{ form.uPassword.label }}<br>
          {{ form.uPassword(size=32) }}

          {% for error in form.uPassword.errors %}
            <div class="notification is-danger">
              [{{ error }}]
            </div>
          {% endfor %}
        </p>
        <p>{{ form.submitNow() }}</p>
      </form>
            
      <p>New User? <a href="{{ url_for('register') }}">Register Here</a></p>
      <p>Forgot Your Password? <a href="{{ url_for('reset') }}">Click to Reset</a></p>
    </div>

    <div class="column"></div>

    <div class="column"></div>
  </div>
{% endblock %}