{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <div>
        <h1 class='title'>Current Customers: <span class='rCust'>{{ rCustomers }}</span></h1>
        <a href="{{ url_for('subtract') }}">A Customer Has Left</a>
    </div>
    <h1>{{ bName }}</h1>
    <h1>Queue</h1>

    <div class='myQ'>
        {% for eachQueuer in rQueue %}
        <div class='qCust'>
            <span class='cInfo'>
                Name: <strong>{{ eachQueuer.cID }}</strong>,
                Size: <strong>{{ eachQueuer.groupSize }}</strong>
            </span>
            <span class='removeC'>
                <a href="{{ url_for('remove', cID=eachQueuer.cID) }}">Remove</a>
            </span>
        </div>
        {% endfor %}
    </div>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.cID.label }}<br>
            {{ form.cID }}
            {% for error in form.cID.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.groupSize.label }}<br>
            {{ form.groupSize }}
            {% for error in form.groupSize.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.manualAdd() }}</p>
    </form>
{% endblock %}