{% extends "base.html" %}

{% block appContent %}
  <div class="columns">
    <div class="column">
      <h1>Register</h1>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.uName.label }}<br>
          {{ form.uName(size=32) }}

          {% for error in form.uName.errors %}
            <div class="notification is-danger">
              [{{ error }}]
            </div>
          {% endfor %}
        </p>
        <p>
          {{ form.uPassword.label }}<br>
          {{ form.uPassword(size=32) }}

          {% for error in form.uPassword.errors %}
            <div class="notification is-danger">
              [{{ error }}]
            </div>
          {% endfor %}
        </p>
        <p>
          {{ form.bName.label }}<br>
          {{ form.bName(size=32) }}

          {% for error in form.bName.errors %}
            <div class="notification is-danger">
              [{{ error }}]
            </div>
          {% endfor %}
        </p>
        <p>
          {{ form.uPhone.label }}<br>
          {{ form.uPhone(size=32) }}

          {% for error in form.uPhone.errors %}
            <div class="notification is-danger">
              [{{ error }}]
            </div>
          {% endfor %}
        </p>
        <p>{{ form.submitNow() }}</p>
      </form>
    </div>

    <div class="column"></div>
    <div class="column">
      <img src="{{ url_for('static', filename='img/system.png') }}" class="">
    </div>
  </div>
{% endblock %}