{% extends "base.html" %}

{% block appContent %}
  <div class="">
    <div class="">
      <h1>Register</h1>
      {{ wtf.quick_form(form, button_map={'submitNow': 'new-accent'}) }}
      {% for field, errors in form.errors.items() %}
        <div class="">
          <strong>Error</strong>: {{ ', '.join(errors) }}
        </div>
      {% endfor %}
    </div>
    <div class=""></div>
    <div class="">
      <img src="{{ url_for('static', filename='img/system.png') }}" class="">
    </div>
    <div class=""></div>
  </div>
{% endblock %}