{% extends "base.html" %}

{% block appContent %}
  <h1 class="title is-1">Reset Your Password</h1>
  <div class="columns">
    <div class="column">
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="field">
          <label class="label is-size-5">
            <span class="icon is-small is-left">
              <i class="fas fa-key"></i>
            </span>
            {{ form.uPass.label }}
          </label>
          {{ form.uPass(size=32) }}

          {% for error in form.uPass.errors %}
            <div class="container mt-3 mb-3 is-size-4">
              <div class="notification is-danger">
                [{{ error }}]
              </div>
            </div>
          {% endfor %}
        </div>

        <p>{{ form.submitNow() }}</p>
      </form>
    </div>
  </div>
{% endblock %}