{% extends "base.html" %}

{% block appContent %}
  <h1>Request A Password Reset</h1>
  <div class="columns">
    <div class=""></div>
      <div class="column">
        
        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <p>
            {{ form.uEmail.label }}<br>
            {{ form.uEmail(size=32) }}
  
            {% for error in form.uEmail.errors %}
              <div class="notification is-danger">
                [{{ error }}]
              </div>
            {% endfor %}
          </p>
          <p>{{ form.submitNow() }}</p>
        </form>
      </div>
  </div>
{% endblock %}