{% extends "base.html" %}

{% block appContent %}
  <h1>Reset Your Password</h1>
  <div class="columns">
    <div class="column">
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
          {{ form.uPass.label }}<br>
          {{ form.uPass(size=32) }}

          {% for error in form.uPass.errors %}
            <div class="notification is-danger">
              [{{ error }}]
            </div>
          {% endfor %}
        </p>
        <p>{{ form.submitNow() }}</p>
      </form>
    </div>
  </div>
{% endblock %}