<html>
    <head>
        <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        <title>{{ title }}—vQueue</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
            <span class="navbar-brand mb-0 h1">vQueue</span>
        </nav>
        <div class="d-flex justify-content-center mt-3">
            <h2>Hello, {{ user.name }}!</h2>
        </div>
        <div class="d-flex justify-content-center">
            <p class="">Your maximum capacity is set to <strong>{{ user.maxCapacity }}</strong> customers.</p>
        </div>
        <div class="d-flex justify-content-center">
            <p class="jumbotron">There are currently <strong>{{ status.customers }}</strong> customers inside.<p>
        </div>

        <div class="d-flex justify-content-center">
            <div class="btn-toolbar" role="toolbar" aria-label="Primary Buttons">
                <div class="btn-group mr-3" role="group" aria-label="Subtract">
                    <form action="/left" method="post">
                        <button class="btn-dark btn-lg" name="subtractCustomer" type="submit">Customer Has Left</button>
                    </form>
                </div>

                <div class="btn-group mr-3" role="group" aria-label="Refresh">
                    <form action="/refresh" method="post">
                        <button class="btn-light btn-lg" name="refreshPage" type="submit">Refresh Page</button>
                    </form>
                </div>

                <div class="btn-group" role="group" aria-label="End Session"></div>
                    <form action="/end" method="post">
                        <button class="btn-danger btn-lg" name="endSession" type="submit">End Session</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <h3>Your Virtual Queue</h3>
        </div>

        <div class="justify-content-center d-flex">
            {% for queuer in status.queue %}
            <p><strong>#{{ status.queue.index(queuer) + 1 }}</strong> is {{ queuer }}</p>
            {% endfor %}
        </div>
    </body>
</html>